html{
    padding:10px;
    margin: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: limegreen;
    border-style: dotted;
    border-width: 20px;
}
body{
display: flex;
justify-content: center;
flex-direction: column;
font-family: 'Balsamiq Sans', 'Comic Sans', 'Serif';
font-size: 50px;
color: limegreen;
text-align: center;
border-color: #e8c547;
border-style: solid;
border-width: 25px;
border-radius: 25px;
padding:10px;
width: 3200px;
height: max-content;
background-color:#000000 ;
margin: 20px auto;
}

header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1{
display: flex;
justify-content: center;
flex-direction: column;
justify-content: space-around;
color: #3581b8;
background-color: #e8c547;
border-radius: 50px;
border-color: #e84855;
border-width: 35px;
border-style: dotted;
padding:100px;
width: 2000px;
height: 1150px;
margin:100px;
font-size: 200px;
box-shadow: 20px 20px 20px 10px #3581b8;
}

h3{
color: #e8c547;
display: flex;
justify-content: center;
}


img{
    size: 1px;
}

ul, ol{
    display: inline-block;
    text-align: left;

}

div.container{
display: flex;
text-align: center;
justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
display: flex;
justify-content: center;
font-family: 'Balsamiq Sans', 'Comic Sans', 'Serif';
color: white;
font-size: 150px;
background-color: #e84855;
border-radius: 50px;
border-width: 25px;
border-style: dotted;
border-color: #3581b8;
width: 2000px;
height: 200px;
box-shadow: 20px 20px 20px 10px #3581b8;

}
